.box {
  width: 200px;
  height: 80px;
  background: #0099ff;
  border: none;
  color: #fff;
  border-radius: 60px;
  outline: none;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 48px;
  position: relative;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
