.switch {
  width: 160px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s, justify-content 0.5s;
}

.dark {
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: flex-end;
}

.handle {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 40px;
  transition: background-color 0.5s;
}
